#root {
  display: flex;
  height: 100%;
}

.todo {
  padding: 30px;
}

.todo-card {
  min-width: 300px;
  margin: 0 auto;
}

.todo-list {
  padding: 0;
}

.todo-item {
  list-style: none;
  margin-bottom: 3px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #00000027;
}

.todo-form {
  justify-content: space-between;
}

.todo-form > div:last-child {
  margin-right: 0;
}

.todo-form-input {
  flex: 1!important;
}
.todo-form-actions {
  flex: 0!important;
}
.desc{
  color: #00000095;
  text-align: left; 
}
#checkcount{
  position: absolute;
  margin: 0;
  padding: 0;
  right: 18%;
  top: 4%;
}
.rmbutton{
  position: absolute;
  margin: 0;
  padding: 0;
  right: 3%;
  top: 3%;
}
.checked{
  color: purple;
  text-decoration: line-through;
}